.body{
    text-align: center;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.register {
    background-color: white;
    width: 500px;
    height: 646px;
    border-bottom: 10px solid #46A358;
    margin: 50px auto;
}

a:link {
    text-decoration: none;
  }

.links {
    color: #46A358;
    padding-top: 44px;
}

.log{
    color: #3D3D3D;
    font-size: 20px;
}

.reg{
    color: #46A358;
    font-size: 20px;
}

input {
    font-size: 14px;
    line-height: 16px;
    width: 270px;
    border: 1px solid #A5A5A5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
}

.socmed{
  background-color: white;
  color: #727272;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #A5A5A5;
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 5px;
}

p {
    color: #3D3D3D;
    font-size: 13px;
}

.regbutt {
  background-color: #46A358;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  border-radius: 5px;
  margin-top: 41px;
  margin-bottom: 36px;
}

.apple {
    text-align: left;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 14px;
}

#google{
    margin-top: 40px;
    margin-bottom: 10px;
}

span{
    color: #3D3D3D;
}